.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #52665A;
  width: 100%;
  padding: 0 3rem;
  min-height: 8rem;
}

.borderText {
  padding: 0.5rem;
  border: 1px solid #EBEBEB;
  text-decoration: none;
}

.title{
  font-size: 4rem;
  color: #EBEBEB;
  transition: font-size 1s;
}

.logo{
  height: 7rem;
  width: 6rem;
  transition: transform 1s;
}
.nav{
  display: flex;
  justify-content: flex-end;
}

.navItem{
  font-size: 2.5rem;
  text-decoration: none;
  color: #EBEBEB;
  margin-left: 2rem;
  border-radius: 1rem;
  text-decoration: overline 0.2rem rgba(255, 255, 255, 0);
  transition: text-decoration-color 2s;
}

.navItem:hover {
  text-decoration-color: #EBEBEB;
}
.svg{
  font-size: 5rem;
}
.button{
  height: 56px;
  background-color: transparent;
  width: 15rem;
  border: 1px solid #EBEBEB;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  color: #EBEBEB;
  cursor: pointer;
  margin: 4rem;
  padding:1rem;
  border-radius: 1rem;
  transition: background 1s;
}

.button:hover{
background-color: #E83F5B;
border:none;
}


@media screen and (max-width: 768px) {
    .container{
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-evenly;
      height: auto;
      padding: 2rem 0;
    }
    .nav{
      flex: 0.5;
      flex-direction: column;
    }
    .title {
      font-size: 3rem;
      color: #EBEBEB;
    }
  }
