.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #52665a;
  padding: 3rem;
  width: 100vw;
}

.title {
  font-size: 4rem;
  color: #ebebeb;
  transition: font-size 1s;
  text-decoration: none;
}

.logo {
  height: 7rem;
  width: 6rem;
  transition: transform 1s;
}
.nav {
  display: flex;
  justify-content: flex-end;
}

.navItem {
  font-size: 2.5rem;
  text-decoration: none;
  color: #ebebeb;
  margin-left: 2rem;
  border-radius: 1rem;
  text-decoration: overline 0.2rem rgba(255, 255, 255, 0);
  transition: text-decoration-color 2s;
}

.navItem:hover {
  text-decoration-color: #ebebeb;
}
.svg {
  font-size: 5rem;
}
.button {
  height: 56px;
  background-color: transparent;
  width: 15rem;
  border: 1px solid #ebebeb;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  color: #ebebeb;
  cursor: pointer;
  margin: 4rem;
  padding: 1rem;
  border-radius: 1rem;
  transition: background 1s;
}

.button:hover {
  background-color: #e83f5b;
  border: none;
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2rem;
  }
  .nav {
    flex: 0.5;
    flex-direction: column;
  }
  .title {
    font-size: 3rem;
    color: #ebebeb;
  }
}
