.container {
  background-color: #52665a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  padding: 3rem;
}

.title {
  font-size: 4rem;
  color: #ebebeb;
  transition: font-size 1s;
}

.networkContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 30%;
  margin: 2rem 0;
}
.svg {
  font-size: 4rem;
  color: #ebebeb;
}

.description {
  text-align: justify;
  font-size: 1.6rem;
  color: #ebebeb;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 3rem;
    color: #ebebeb;
  }
}
